.toggle-group {
  margin-top: 2rem;
  margin-bottom: 0.3rem;
  background: var(--ba-palette-background-paper);

  .toggle-group__btn, .toggle-group__btn:disabled {
    border: none;
  }
}

.detail-envelope-container {
  justify-content: space-between;
}

.detail-transaction-empty {
  padding: 1rem;
}