.navBar {
  .navMenu {
    display: none;
    flex-grow: 1;

    @media(max-width: 600px) {
      display: flex;
    }
  }
  .logoContainer {
    display: flex;
    align-items: center;
    margin-right: 8rem;
    text-decoration: none;

    @media (max-width: 900px) {
      margin-right: 4rem  ;
    }

    @media (max-width: 600px) {
      margin-right: 0;
    }

    .logoText {
      font-weight: 700;
      font-size: 30px;
      color: var(--ba-palette-primary-main);
    }
  }

  .userId {
    margin-right: 2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: var(--ba-palette-common-black);
    text-decoration: none;

    display: flex;

    @media(max-width: 600px) {
      display: none;
    }
  }

  .breadCrumbsContainer {
    display: flex;
    flex-grow: 1;

    @media(max-width: 600px) {
      display: none;
    }
  }

  .authContainer {
    display: flex;

    @media(max-width: 600px) {
      display: none;
    }
  }
}