.transactionsLayout {
  overflow: hidden;
  max-width: 100%;

  .transactionsContainer {
    max-height: 40rem;
  }

  .transactionsTableCell {
    text-align: left;
    padding: 0.77rem 0.8rem;
    max-width: 10rem;

    &:hover {
      cursor: pointer;
    }

    &:nth-child(3) {
      text-align: center;
    }

    &:last-child {
      text-align: right;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.types {
  min-width: 4rem;
}

.toolBarContainer {
  display: flex;
  flex-direction: column;
  padding: 0.85rem 1rem 0 1rem;

  .toolBarHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .toolBarForm {
    width: 100%;
    margin-top: 0.6rem;
  }
}

.card {
  max-width: 100%;

  .cardContent {
    .cardContentValue {
      white-space: normal;
      word-break: break-word;
    }
  }
}
