.transactionsLayout {
  overflow: hidden;
  max-width: 100%;

  .transactionsContainer {
    max-height: 40rem;
  }

  .transactionsTableCell {
    text-align: left;
    padding: 0.77rem 0.8rem;
    max-width: 10rem;


    &:hover {
      cursor: pointer;
    }

    &:nth-child(3) {
      text-align: center;
    }

    &:last-child {
      text-align: right;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}


.types {
  min-width: 4rem;
}
