.listItem {
  border: 1px solid var(--ba-palette-grey-300);
  margin: 0.6rem 0;
  border-radius: 0.3rem;
  background: var(--ba-palette-common-white);

  &:hover {
    cursor: pointer;
    background: var(--ba-palette-grey-50);
    transition: 0.5s background-color;
  }

  &.active {
    background-color: var(--ba-palette-grey-200);
    border-color: var(--ba-palette-primary-main);
  }

  .listItemText {
    word-break: break-word;
  }
}

.search {
  .searchInput {
    padding: 0.5rem 1rem;
  }
}
