.detailTransaction {
  background: var(--ba-palette-common-white);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 1px solid var(--ba-palette-secondary-main);

  &.isValid {
    border: 1px solid var(--ba-palette-success-main);
  }

  &.isInvalid {
    border: 1px solid var(--ba-palette-error-main);
  }

  .detailHeader {
    margin-bottom: 0.3rem;
    justify-content: space-between;
    align-items: center;
  }
}
